<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Login</title>
</head>
<body>
    <!-- Login Form -->
    <div class="wrapper">
        <header>Login Page</header>
        
        <!-- Flash messages section -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-danger">
                    {% for category, message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="input-area">
                    {{ form.username }}
                </div>
            </div>
            <div class="field">
                <div class="input-area">
                    {{ form.password }}
                </div>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
        </form>
        <a href="{{ url_for('confirm') }}">Forgot Password?</a><br>
        <a href="{{ url_for('register') }}">Don't have an account? Sign up</a><br>
    </div>
</body>
</html>
